$basic: #436372;
$title: #191919;

%dm-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%dm-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%dm-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%myr-400 {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}