@import "reset";
@import "vars";
@import "fonts";
@import "global";

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    position: relative;
  }
  &__logo {
    margin: 0px 166px 0px 0px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin: 0px 0px 0px 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $basic;
    @extend %dm-700;
  }
}

.user-nav {
  display: flex;
  &__item + &__item {
    margin: 0px 0px 0px 18px;
  }
  &__item {
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      width: 180px;
      background-color: #fcd7b6;
      border-radius: 25px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 32px;
        width: 1px;
        background-color: #fde7d3;
      }
    }
  }
  &__link {
    display: block;
    border-radius: 25px;
    width: 50px;
    height: 50px;
  }
  &__link--search {
    background-color: #edf1f4;
    position: relative;
    &::after {
      content: url(../images/icons/search.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46%, -41%);
    }
  }
  &__link--fav {
    position: relative;
    &::after {
      content: url(../images/icons/heart.png);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-42%, -38%);
    }
  }
  &__link--fav,
  &__link--cart {
    position: relative;
    span {
      position: absolute;
      top: 6px;
      right: 4px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      color: #243f4d;
      text-align: center;
      font-size: 10px;
      line-height: 16px;
      z-index: 2;
      @extend %dm-700;
    }
  }
  &__link--cart {
    margin: 0px 0px 0px 30px;
    &::after {
      content: url(../images/icons/cart.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46%, -41%);
    }
  }
  &__link--dots {
    position: relative;
    &::after {
      content: url(../images/icons/dots.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
    }
    background-color: #a3bbc8;
  }
}









@import "media";