@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

// ------------------------------------------------------------------------------------------

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    position: relative;
  }
  &__logo {
    margin: 0px 166px 0px 0px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin: 0px 0px 0px 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $basic;
    @extend %dm-700;
  }
}

.user-nav {
  display: flex;
  &__item + &__item {
    margin: 0px 0px 0px 18px;
  }
  &__item {
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      width: 180px;
      background-color: #fcd7b6;
      border-radius: 25px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 32px;
        width: 1px;
        background-color: #fde7d3;
      }
    }
  }
  &__link {
    display: block;
    border-radius: 25px;
    width: 50px;
    height: 50px;
  }
  &__link--search {
    background-color: #edf1f4;
    position: relative;
    &::after {
      content: url(../images/icons/search.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46%, -41%);
    }
  }
  &__link--fav {
    position: relative;
    &::after {
      content: url(../images/icons/heart.png);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-42%, -38%);
    }
  }
  &__link--fav,
  &__link--cart {
    position: relative;
    span {
      position: absolute;
      top: 6px;
      right: 4px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      color: #243f4d;
      text-align: center;
      font-size: 10px;
      line-height: 16px;
      z-index: 2;
      @extend %dm-700;
    }
  }
  &__link--cart {
    margin: 0px 0px 0px 30px;
    &::after {
      content: url(../images/icons/cart.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46%, -41%);
    }
  }
  &__link--dots {
    position: relative;
    &::after {
      content: url(../images/icons/dots.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
    }
    background-color: $controls;
  }
}

// ==========================================================================================
// ==========================================================================================

.footer {
  color: #7b7b7b;
  font-size: 14px;
  line-height: 24px;
  a {
    display: block;
    color: #7b7b7b;
  }
  &__top {
    padding: 80px 0 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
  }
  // &__item {
  // }
  &__item--address {
    max-width: 230px;
  }
  &__item--services,
  &__item--account {
    max-width: 213px;
    width: 100%;
  }
  &__item--newsletter {
    max-width: 270px;
    width: 100%;
  }
  &__logo {
    margin: 0px 0px 22px 0px;
  }
  &__item-address,
  &__item-telephone,
  &__item-email {
    margin: 0px 0px 10px 0px;
  }
  &__item-email {
    margin: 0;
  }
  &__item-title {
    @extend %dm-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
    padding: 14px 0px 0px 0px;
    margin: 0px 0px 24px 0px;
  }
  &__list-item + &__list-item {
    margin: 10px 0px 0px 0px;
  }
  &__item-text {
    margin: 0px 0px 35px 0px;
  }
  &__item-form {
    display: flex;
  }
  &__item-input {
    background-color: #fef7f0;
    border: none;
    margin: 0;
    display: block;
    padding: 7px 10px 7px 15px;
    max-width: 170px;
    &::placeholder {
      color: #234969;
      @extend %dm-400;
    }
  }
  &__item-btn {
    display: block;
    border: none;
    background-color: $controls;
    color: #fff;
    margin: 0;
    padding: 0px;
    width: 100px;
    cursor: pointer;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 38px;
    @extend %myr-400;
  }
  &__nav {
    display: flex;
  }
  &__nav-item {
    position: relative;
    margin: 0px 26px 0px 0px;
    &::after {
      content: "";
      width: 1px;
      height: 15px;
      background-color: #7b7b7b;
      position: absolute;
      top: 50%;
      right: -14px;
      transform: translate(-50%, -50%);
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

// ==========================================================================================
// ==========================================================================================

.main-slider {
  &__wrapper {
    background-color: #fcd7b6;
    padding: 0 15px;
  }
  &__inner {
    max-width: 1430px;
    padding: 100px 0 45px;
    margin: 0 auto;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    padding: 130px 0px 0px 130px;
  }
  &__heading {
    @extend %rubik-500;
    max-width: 470px;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
  }
  &__text {
    max-width: 370px;
    color: $basic;
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 38px 0px;
  }
  &__btn {
    display: block;
    background: $controls;
    height: 60px;
    width: 200px;
    line-height: 60px;
    color: #fff;
    padding: 0px 0px 0px 26px;
    position: relative;
    &::after {
      content: url("../images/icons/right-arrow.svg");
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translatey(-50%);
    }
  }
  .slick-list {
    padding: 0px 0px 12px 0px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li + li {
      margin: 0px 0px 0px 10px;
    }
    li {
      button {
        border: 0;
        @extend %rubik-500;
        color: #243f4c59;
        font-size: 10.88px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        background-color: #ffffff59;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
    .slick-active {
      button {
        background-color: #ffffff;
        color: #243f4d;
      }
    }
  }
}

// ==========================================================================================
// ==========================================================================================

.features {
  &__row {
    background-color: $bg-2;
    display: flex;
    justify-content: space-around;
    padding: 45px 0 60px;
  }
  &__item {
    padding: 0px 0px 0px 90px;
    max-width: 400px;
  }
  &__item--support {
    position: relative;
    &::before {
      content: url(../images/icons/support-icon.svg);
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
  &__item--delivery {
    position: relative;
    &::before {
      content: url(../images/icons/delivery-icon.svg);
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
  &__item--card {
    position: relative;
    &::before {
      content: url(../images/icons/card-icon.svg);
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
  &__title {
    @extend %dm-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text {
    color: #585858;
  }
}

// ------------------------------------------------------------------------------------------

@import "media";
